---
import Layout from "../layouts/Layout.astro";
---

<style>
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    margin: 2rem;
  }

  .hero img {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
    border-radius: 8px;
    box-shadow: red 0px 5px 15px;
  }

  .about-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
  }
</style>

<Layout>
  <section class="hero">
    <img src="/src/assets/plaza.jpeg" alt="Hero Image" />
  </section>
  <section class="about-text">
    <h1>About Us</h1>
    <p>
      Welcome to our about page! Here you can learn more about our story,
      mission, and values. We are passionate about delivering the best
      experience to our customers.
    </p>
    <p>
      This hero image highlights the essence of our brand and sets the tone for
      what we stand for. Feel free to explore and get to know us better.
    </p>
  </section>
</Layout>
