---
import Social from "./Social.astro";
import bgLogo from "../assets/logoicon.jpg";

const address1 = "4749 International Blvd, Oakland, CA";
const address2 = "3355 Santa Rosa Ave., Santa Rosa, CA";
---

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 1rem 2rem;
    background-color: #ffffff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: #F2D732 8px solid;
  }
  footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  footer > div > div {
    flex-direction: row;
    gap: 0.5rem;
  }
  footer p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #790000;
    font-weight: 600;
    text-transform: uppercase;
  }

  footer img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  footer img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .location h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid #dedede;
    padding-bottom: 5px;
    user-select: none;
  }

  .right-section {
    background-color: #002f76;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<footer>
  <div class="left-section">
    <img src={bgLogo.src} alt="Nak Logo" width="" height="50" />
    <p>Follow Us!</p>
    <div>
      <Social platform="instagram" username="tortasahogadasmibarrio" />
      <Social platform="tiktok" username="@tortasahogadasmibarrio" />
    </div>
  </div>

  <div class="right-section">
    <div class="location">
      <h4>Santa Rosa, CA</h4>
      <div class="address" aria-label="Address for location 1">
        {address1}<br />
      </div>
      <div class="hours" aria-label="Hours for location 1">
        Mon - Fri: 9am - 6pm<br />
      </div>
    </div>

    <div class="location">
      <h4>Oakland, CA</h4>
      <div class="address" aria-label="Address for location 2">
        {address2}<br />
      </div>
      <div class="hours" aria-label="Hours for location 2">
        Mon - Sun: 9am - 6pm<br />
      </div>
    </div>
  </div>
</footer>
<!-- .left-section {
    flex: 1;
  }
  .right-section {
    flex: 1;
    background-color: rgb(151, 6, 6);
    color: white;
    padding: 1rem 2rem;
  } -->
