---
import Social from "./Social.astro";
import bgLogo from "../assets/logoicon.jpg";
---

<style>

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    font-weight: 600;
  text-transform: uppercase;

  }

  footer img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  footer img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  footer p:hover {
    color: #ff0000;
    transition: color 0.3s ease;
  }
  footer p:last-child {
    font-size: 1.5rem;
    color: #ff0000;
    font-weight: 700;
  }
  footer p:last-child:hover {
    color: #000000;
  }
  footer p:first-child {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 600;
  }
</style>
<footer>
  <div>
    <img src={bgLogo.src} alt="Nak Logo" width="" height="50" />
    <div>
      <p>Follow Us!</p>
      <Social platform="instagram" username="gcaa_nak" />
      <Social platform="tiktok" username="@tortashogadasmibarrio" />
    </div>
  </div>
 
  <div>
    <p>Section 1</p>
   
    <p>GACAA</p>
  </div>
  <div>
    <p>Section 2r</p>
    
  </div>
</footer>
