---
import Social from "./Social.astro";
import bgLogo from "../assets/paw.jpg";

const address1 = "San Francisco , CA and around the Bay Area";
const address2 = "3355 Santa Rosa Ave., Santa Rosa, CA";
---

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #e684cf;
  }
  footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  footer > div > div {
    flex-direction: row;
    gap: 0.5rem;
  }
  footer p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #790000;
    font-weight: 600;
    text-transform: uppercase;
  }

  footer img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  footer img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .location h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 5px;
    user-select: none;
  }

  .right-section {
    background-color: #002f76;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<footer>
  <div class="left-section">
    <img src={bgLogo.src} alt="Nak Logo" width="" height="50" />
    <p>Follow Us!</p>
    <div>
      <Social platform="instagram" username="tortasahogadasmibarrio" />
      <Social platform="tiktok" username="@tortasahogadasmibarrio" />
    </div>
  </div>

  <div class="right-section">
    <div class="location">
      <h4>
        Contact US<h4>
          <hr>
          <div class="hours" aria-label="Hours for location 1">
            Email:<br />
          </div>
          <div class="hours" aria-label="Hours for location 1">
            Phone:<br />
          </div>
          <div class="address" aria-label="Address for location 1">
            {address1}
          </div>
        </h4>
      </h4>
    </div>
  </div>
</footer>
