---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
 
  <nav>
    
    <!-- <Hamburger /> -->
    
    <Navigation />
  </nav>
</header>
