---
import astroLogo from "../assets/logoicon.jpg";
import Social from "./Social.astro";
import { dashLink, SC_FB_TAG, SC_IG_TAG, SC_TK_TAG } from "../consts";
---

<div class="nav-container">
  <div class="nav-logo">
    <a href="https://astro.build"
      ><img
        src={astroLogo.src}
        width="115"
        height="48"
        alt="GCAA Homepage"
      /></a
    >
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">Our Story</a>
    <a href="/about/">Reviews</a>
    <a href="/client/">Clients</a>

    <a href={dashLink}>Services</a>
  </div>
</div>
