---
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <style>
      main {
        max-width: 100%;
        margin: 0;
        background-color: #080803;
      }
     
      .hero-image img {
        display: block;
        margin: 0 auto;
       max-width: 100%; /* max-width change image size */
  height: auto;
        border-radius: 4px;
        box-shadow: #cd1732 0px 5px 15px;
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: #f8f6ee;
        font-weight: 900;
      }

      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
        color: #034694;
      }
      .date {
        margin-bottom: 0.5em;
        color: gold;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />

    <main>
      <article>
        <div class="hero-image">
          {heroImage && <img src={heroImage.src} alt="" />}
        </div>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
